* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  width: 100vw;
  height: 80vh;
  position: relative;
  margin: 10% auto;
  text-align: center;
}

.content {
  height: 980px;
}

header {
  text-align: center;
  position: relative;
}

header h1 {
  font-style: italic;
  text-transform: capitalize;
  font-size: 4vw;
  font-family: fantasy;
  line-height: 45px;
  color: #a67a01;
}
